* {
    margin: 0;
    box-sizing: border-box;
}

.brand-logo{
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
}


  #map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
